.sidebar{
    flex: 1;
    border-right: 1px solid lightgray;
    background-color: white;
    position: fixed;
    height: 100%;
    width: 240px;
    overflow-y: auto;

    .top {
        height: 60px; padding: 0;
        display: flex;
        align-items: center;
        justify-content: start;
        border-bottom: 1px solid lightgray;
        &:hover{
            background-color: #ece8ff55;
        }

        .sidebar-top-item{
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: start;        

            .logo-icon {
                font-size: 30px;
                font-weight: 500;
                /* color: #fff; */
                color: #7451f8;
                min-width: 60px;
            }
    
            .logo-name {
                font-size: 20px;
                font-weight: 600;
                color: #888;
            }   
        }
    }

    .sidebar-items{
        padding-left: 10px;
        padding-right: 10px;

        ul{
            list-style: none;
            margin: 0;
            padding: 0;

            .subtitle{
                font-size: 10px;
                font-weight: bold;
                color: #999;
                margin-top: 15px;
                margin-bottom: 5px;
            }        
            
            .sidebar-item{
                text-decoration: none;     

                &.active{
                    li{
                        background-color: #ece8ff;
                    }
                }

                li{
                    display: flex;
                    align-items: center;
                    padding: 5px;
                    cursor: pointer;
    
                    &:hover {
                        background-color: #ece8ff55;
                    }
    
                    .icon{
                        font-size: 20px;
                        color: black;
                        // color: #7451f8;
                    }
    
                    span{
                        font-size: 13px;
                        font-weight: 600;
                        color: #888;
                        margin-left: 10px;
                    }
                }
            }
        }
    }

    .title{
        font-size: 10px;
        display: flex;
        font-weight: bold;
        color: #999;
        margin-top: 15px;
        margin-bottom: 5px;
        padding-left: 10px;
    }     


    .bottom{
        display: flex;
        align-items: center;
        margin: 10px;
        
        .colorOption{
            width: 20px;
            height: 20px;
            border-radius: 5px;
            margin: 5px;
            border: 1px solid #7451f8;
            cursor: pointer;

            &:nth-child(1){
                background-color: whitesmoke;
            }
            &:nth-child(2){
                background-color: #333;
            }
        }
    }
}

@media (max-width: 700px) {
    .sidebar{
        width: 60px;  

        .logo-name {
            display: none;
        }

        .sidebar-item li span {
            display: none;
        }

        .bottom{
            display: block;
        }
    }
    
}

@media (max-width: 1150px) and (min-width: 699px) {
    .sidebar{
        width: 150px;  
        
            .logo-name {
                display: none;
            }
        }

    }

