.singleContainer {
  flex: 6;

  .pageTitle{
    display: flex;
    justify-content: center;
    margin: 20px;
    height: 30px;
    font-weight: bold;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.189);
    border-radius: 5px;
  }

  .top {
    padding: 20px;
    display: flex;
    gap: 20px;

    .left {
      flex: 1;
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 20px;
      position: relative;
    }

    .right {
      flex: 1;
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 20px;

      .userFinantialDetailTitle {
        display: flex;
        align-content: center;
        justify-content: start;
        font-size: 16px;
        padding-left: 15px;
        color: gray;
        // margin-left: 10px;

        //     .finItem {
        //         padding: 5px;
        //         margin-left: 10px;
        //   }
      }
      .userFinantialDetail {
        display: flex;
        align-content: center;
        justify-content: end;

        .finItem {
          padding: 5px;
          margin-right: 10px;
          cursor: pointer;
          border-style: solid;
          border-radius: 5px;
          border-width: 1px;
          font-size: 15px;

          &.active {
            background-color: rgba(0, 128, 0, 0.05);
            color: green;
            border-color: green;
          }
          &.proccess {
            background-color: rgba(41, 132, 229, 0.05);
            color: rgb(41, 132, 229);
            border-color: rgb(41, 132, 229);
          }
          &.pending {
            background-color: rgba(255, 217, 0, 0.05);
            color: goldenrod;
            border-color: goldenrod;
          }
          &.passive {
            background-color: rgba(255, 0, 0, 0.05);
            color: crimson;
            border-color: crimson;
          }
          &.neutral {
            background-color: rgba(250, 128, 114, 0.152);
            color: salmon;
            border-color: salmon;
          }
        }
      }
    }
  }

  .bottom {
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 20px;
    margin: 10px 20px;

    .titleHeader {
      // background-color: rgba(211, 211, 211, 0.478);
      margin: 0px 10px 10px 10px;
      display: flex;
      align-content: space-between;
      font-size: 16px;
      padding-left: 15px;

      .titleItem {
        flex: 1;
        justify-content: end;
        align-items: center;

        &.text {
          font-size: 16px;
          justify-content: start;
        }
      }
    }
  }

  .title {
    font-size: 16px;
    color: gray;
    margin-bottom: 20px;
    margin-left: 20px;
  }
}
