.datatable {
    padding: 10px;
    width: auto;
    
    .datatableTitle{
      // width: 100%;
      font-size: 20px;
      color: gray;
      margin-bottom: 5px;
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      .link{
        text-decoration: none;
        color: green;
        font-size: 16px;
        font-weight: 400;
        border: 1px solid green;
        padding: 5px;
        border-radius: 5px;
        margin-left: 10px;
        gap: 10px;
        display: flex;
        cursor: pointer;
        justify-content: center;
        width: 5%;
      }
    }
    .last-row{
      background-color: rgba(25, 118, 210, 0.08);;
    }

    .link{
      text-decoration: none;     
    }
  
    .cellWithImg {
      display: flex;
      align-items: center;
  
      .cellImg {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 20px;
      }
    }

  
    .cellWithStatus {
      padding: 5px;
      border-radius: 5px;
  
      &.active {
        background-color: rgba(0, 128, 0, 0.05);
        color: green;
      }
      &.proccess {
        background-color: rgba(41, 132, 229, 0.05);
        color: rgb(41, 132, 229);
      }
      &.pending  {
        background-color: rgba(255, 217, 0, 0.05);
        color: goldenrod;
      }
      &.passive {
        background-color: rgba(255, 0, 0, 0.05);
        color: crimson;
      }
      &.neutral {
        background-color: rgba(128, 128, 128, 0.097);
        color: grey;
      }
    }
  
    .cellAction {
      display: flex;
      align-items: center;
      gap: 15px;   
      width: 100%;  
  
      .viewButton {
        padding: 2px 5px;
        border-radius: 5px;
        width: auto;
        color: darkblue;
        border: 1px solid rgba(0, 0, 139, 0.596);
        background-color: rgba(0, 0, 139, 0.186);
        cursor: pointer;
        justify-content: center;
        display: flex;
      }

      .activeButton {
        padding: 2px 5px;
        border-radius: 5px;
        color: green;
        width: auto;
        background-color: rgba(0, 128, 0, 0.05);
        border: 1px solid rgba(0, 128, 0, 0.363);
        cursor: pointer;
        justify-content: center;
        display: flex;
      }
      
      .inactiveButton {
        padding: 2px 5px;
        border-radius: 5px;
        width: auto;
        color: crimson;
        border: 1px solid rgba(220, 20, 60, 0.6);
        background-color: rgba(255, 0, 0, 0.05);
        cursor: pointer;
        justify-content: center;
        display: flex;
      }

      .neutralButton {
        padding: 2px 5px;
        border-radius: 5px;
        width: auto;
        color: orange;
        border: 1px solid rgba(220, 20, 60, 0.6);
        background-color: rgba(255, 166, 0, 0.06);
        cursor: pointer;
        justify-content: center;
        display: flex;
      }
    }
  }